{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 7 }
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "vue"
      ]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "vue"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties"
  ]
}
