# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# Build output
node_modules
dist

# Local env files
*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
.DS_Store

logs

.jest-cache
