language: node_js
node_js:
  - "10"
script:
  - yarn lint
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: GITHUB_TOKEN
  keep_history: true
  on:
    branch: gh-pages
  local_dir: dist
