
$primary: red;
$link: $primary;
$danger: red;
$success: limegreen;


@import '~bulma/sass/utilities/_all';

$background: $grey;
$text: $grey-lighter;
$text-strong: $text;
$text-light: $text;
$title-color: $text;
$label-color: $text;
$body-background-color: $dark;
$card-background-color: $grey-dark;
$modal-card-body-background-color: $grey-dark;
// $modal-background-background-color: $grey-dark;

// $menu-item-hover-background-color: $grey-darker;

@import '~bulma/sass/base/_all';
@import '~bulma/sass/components/_all';
@import '~bulma/sass/elements/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/layout/_all';
@import '~bulma/sass/form/_all';

.button{
  border-radius: 0;

  &.is-fullsize{
    height: 100%;
    width:100%;
  }
}

.card-content{
  padding: 1rem;
}

body{
  scrollbar-color: #000 $dark;

  ::-webkit-scrollbar {
    background: $dark;
  }

  ::-webkit-scrollbar-thumb {
    background: #000;
  }
}

